@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'Secular One', sans-serif;
    overflow-x: hidden;
    color: #414141;
}
.menu-desplegable{
  display: none;
}
#nav{
  width: 100%;
}
#nav .menu ul{
  display: flex;
  gap: 25px;
  list-style: none;
}
#nav .menu ul li{
  border-radius: 5px ;
  padding: 5px 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .3s ease-in-out all;
}
#nav .menu ul li:hover{
  transform: scale(1.1);
}
.menu-item-selected{
  color: white;
  background: rgb(248, 14, 202);
  background: linear-gradient(270deg, rgb(129, 12, 188) 0%, rgb(171, 63, 229) 100%);
}
.bg-default{
    background: rgb(75, 41, 245);
    background: linear-gradient(270deg, rgb(56, 40, 136) 0%, rgb(75, 41, 245) 100%);
}
.bg-green{
    background: rgb(151,254,228);
    background: linear-gradient(270deg, rgba(151,254,228,1) 0%, rgba(74,208,175,1) 100%);
}
.bg-purple{
    background: rgb(248, 14, 202);
    background: linear-gradient(270deg, rgb(129, 12, 188) 0%, rgb(171, 63, 229) 100%);
}
.bg-red{
  background: rgb(252,108,108);
  background: linear-gradient(270deg, rgba(252,108,108,1) 0%, rgba(238,57,57,1) 100%);
}
.bg-cyan{
  background: rgb(108,248,252);
  background: linear-gradient(270deg, rgba(108,248,252,1) 0%, rgba(57,196,238,1) 100%);
}
.bg-white{
  background: rgb(203,255,245);
  background: linear-gradient(270deg, rgb(168, 249, 233) 0%, rgb(97, 245, 220) 100%);
}
.bg-green-dark{
  background: rgb(177, 254, 151);
  background: linear-gradient(270deg, rgb(166, 248, 139) 0%, rgb(88, 242, 152) 100%);
}
.bg-brown-white{
  background: rgb(242, 175, 88);
  background: linear-gradient(270deg, rgb(249, 190, 114) 0%, rgb(233, 165, 75) 100%);
}
.bg-brown{
  background: rgb(244, 155, 39);
  background: linear-gradient(270deg, rgba(244, 155, 39,1) 0%, rgba(219, 132, 20,1) 100%);
}
.bg-yellow{
  background: rgb(254, 251, 51);
  background: linear-gradient(270deg, rgba(216, 223, 87,1) 0%, rgba(230, 220, 36,1) 100%);
}
.bg-fighting{
  background: rgb(235, 213, 87);
  background: linear-gradient(270deg, rgba(218, 199, 78,1) 0%, rgba(193, 165, 28,1) 100%);
}
.bg-fairy{
  background: rgb(215, 175, 239);
  background: linear-gradient(270deg, rgba(215, 175, 239,1) 0%, rgba(207, 156, 237,1) 100%);
}
.bg-psychic{
  background: rgb(250, 153, 63);
  background: linear-gradient(270deg, rgba(250, 153, 63,1) 0%, rgb(252, 124, 39)100%);
}
.bg-dragon{
  background: #ed6f87;
  background: linear-gradient(270deg, #ed6f87 0%, #f15471 100%)
}
  
.wrapper {
  display: block;
  text-align: center;
}
.wrapper svg {
    width: 100px;
    height: auto;
    margin: 0 -20px;
    cursor: pointer;
    overflow: visible;
    fill: #111;
    transform: scale(.4);
}
.wrapper svg polygon, .wrapper svg path {
      transition: all 0.5s cubic-bezier(.2,1,.3,1);
}
.wrapper svg polygon:hover, .wrapper svg path:hover {
  transition: all 1s cubic-bezier(.2,1,.3,1);
  fill: rgb(129, 12, 188);
}
.wrapper svg:hover > g{
  fill: rgb(129, 12, 188);
}
.wrapper svg:hover .arrow {
  animation: arrow-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
.wrapper svg:hover .arrow-fixed {
  animation: arrow-fixed-anim 2.5s cubic-bezier(.2,1,.3,1) infinite;
}
.menu-btn{
  display: none;
}
@media screen and (max-width:691px) {
  #nav{
    width: auto;
  }
  #nav .menu{
    display: none;
  }
  
  .menu-desplegable-filter{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #ffffffee;
    filter: blur(8px);
    z-index: -10;
  }
  .menu-desplegable{
    z-index: 1;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 0;
    right: -150%;
    height: 100vh;
    width: 50vw;
    z-index: 1;
    transition: .5s ease-in-out right;
  }
  .menu-desplegable-active{
    right: 0;
  }
  .menu-desplegable img{
    padding-left: 20px;
    width: 70%;
    object-fit: contain;
    z-index: 10;
  }
  .menu-desplegable ul{
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    align-items: center;
  }
  .menu-desplegable ul li{
    padding: 5px 25px;
    cursor: pointer;
    transition: .3s ease-in-out all;
  }
  .menu-desplegable ul li:hover{
    transform: scale(1.1);
  }
  .menu-btn {
    background-color: transparent;
    position: relative;
    right: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    z-index: 1000;
  }
  .line {
    fill: none;
    stroke: #414141;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  
  @keyframes arrow-anim {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    5% {
      transform: translateX(-0.1rem);
    }
    100% {
      transform: translateX(1rem);
      opacity: 0;
    }
  }
  
  @keyframes arrow-fixed-anim {
    5% {
      opacity: 0;
    }
    20% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}
@media screen and (max-width:580px) {
  .menu-desplegable{
    background: #fffa;
    width: 100vw;
  }
  .menu-desplegable img{
    transform: scale(.8);
    margin-top: 80px;
    width: 100%;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
}
  .menu-desplegable ul{
    position: absolute;
    top: 300px;
  }
  .menu-desplegable-active{
    right: 0;
  }
}